.container {
  padding: 25px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 480px;
  margin-bottom: 52px;
  width: 100%;
  transition: background 800ms;
}

.container:hover {
  background-color: rgb(15, 15, 15);
}

.container:hover .ambit12px,
.container:hover .ambitbold20px {
  color: white;
}

.container:hover .imageHover {
  opacity: 1;
}

.container:hover .dot,
.container:hover .dotActive {
  border: 0.0625rem solid #fff;
}

.container:hover .dotActive {
  background-color: #fff;
}

@media screen and (min-width: 480px) {
  .container {
    height: 640px;
    margin-bottom: 78px;
  }
}

@media screen and (min-width: 767px) {
  .container {
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin: 0 10px;
  }
}

@media screen and (min-width: 1199px) {
  .container {
    margin: 0 20px;
  }
}

.informationTop {
  display: flex;
  justify-content: space-between;
}

.ambit12px {
  font-size: 12px;
  line-height: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Ambit, sans-serif;
  font-weight: 400;
  color: #000;
  transition: color 800ms;
}

.ambitbold20px {
  font-size: 20px;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Ambit-Bold, sans-serif;
  font-weight: 600;
  color: #000;
  transition: color 800ms;
}

.informationBottom {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .informationBottom {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.wrapperImage {
  display: flex;
  justify-content: center;
  position: relative;
}

.image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 250px;
  object-fit: contain;
  vertical-align: middle;
  display: inline-block;
}

.imageHover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  opacity: 0;
  transition: opacity 800ms;
}

.containerDot {
  display: flex;
}

.dot {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.3125rem;
  border: 0.0625rem solid #000;
  border-radius: 100%;
  background-color: #000;
  transition: border 800ms;
}

.dotActive {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.3125rem;
  border: 0.0625rem solid #000;
  border-radius: 100%;
  background-color: transparent;
  transition: border 800ms, background 800ms;
}
