.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 288px;
  padding-bottom: 288px;
}

.title {
  display: flex;
  flex-direction: row;
}

.canelaContainer {
  margin-top: 15px;
  margin-bottom: 50px;
}

.description {
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aeonik1,
.aeonik2,
.aeonik3,
.aeonik4,
.aeonik5 {
  font-size: 80px;
  line-height: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Aeonik, sans-serif;
  font-weight: 600;
  color: #000;
  overflow: hidden;
}

.aeonik1 span {
  animation: slideIn1 1000ms;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: inline-block;
}

.aeonik2 span {
  animation: slideIn1 1075ms;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: inline-block;
}

.aeonik3 span {
  animation: slideIn1 1150ms;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: inline-block;
}

.aeonik4 span {
  animation: slideIn1 1225ms;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: inline-block;
}

.aeonik5 span {
  animation: slideIn1 1300ms;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: inline-block;
}

.ambit {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Ambit, sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  animation: slideFadeIn 0.8s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.ambitSmall {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Ambit, sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3.2px;
  animation: slideFadeInThree 0.8s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.canela {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Canela, sans-serif;
  color: #000;
  font-size: 28px;
  font-weight: 300;
  animation: slideFadeInTwo 0.8s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@media screen and (min-width: 479px) {
  .aeonik1,
  .aeonik2,
  .aeonik3,
  .aeonik4,
  .aeonik5 {
    font-size: 104px;
    line-height: 104px;
  }

  .ambit {
    font-size: 14px;
    font-weight: 400;
  }

  .ambitSmall {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3.2px;
  }

  .canela {
    font-size: 28px;
    font-weight: 300;
  }
}

@media screen and (min-width: 767px) {
  .aeonik1,
  .aeonik2,
  .aeonik3,
  .aeonik4,
  .aeonik5 {
    font-size: 136px;
    line-height: 136px;
    font-weight: 600;
  }
}

@media screen and (min-width: 992px) {
  .aeonik1,
  .aeonik2,
  .aeonik3,
  .aeonik4,
  .aeonik5 {
    font-size: 244px;
    line-height: 244px;
    font-weight: 600;
  }
}

@keyframes slideFadeIn {
  0% {
    transform: translateY(120px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    transform-style: preserve-3d;
  }
}

@keyframes slideFadeInTwo {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(120px);
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    transform-style: preserve-3d;
  }
}

@keyframes slideFadeInThree {
  0% {
    opacity: 0;
  }
  20% {
    transform: translateY(120px);
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    transform-style: preserve-3d;
  }
}

@keyframes slideIn1 {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0px);
    transform-style: preserve-3d;
  }
}
