.btn {
    padding: 12px 24px;
    background-color: var(--header);
    color: var(--white);
    transition: .3s ease-out;
}

a.btn {
    text-decoration: none;
    font-family: 'DIN Alternate', sans-serif;
    letter-spacing: .5px;
    font-size: 16px;
}

.arrow {
    max-height: 20px;
    margin-top: 10px;
    line-height: 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    content: "\279D";
    color: var(--header);
    transform: rotate(90deg);
}

.arrow--prev {
    justify-content: flex-end;
    transform: rotate(180deg);
}

.arrow--next {
    justify-content: flex-end;
    transform: rotate(0deg);
}

.arrow--white {
    position: relative;
    width: calc(100% - 420px);
    top: -53%;
    left: 420px;
    font-size: 2rem;
    color: var(--white);
    transform: rotate(0deg);
}
  
.arrow::after {
    content: '\279D';
}

.btn-discover {
    border: 1px solid var(--header);
    position: relative;
    top: 1090px;
    right: 8.7%;
    max-height: 43px;
}

.btn-discover::after {
    line-height: 1;
    font-size: 1rem;
    margin-left: 1rem;
    content: "\279D";
    color: var(--white);
} 

.btn-discover:hover {
    margin-left: 12px;
}