.grid {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background-color: var(--white);
}

.grid .grid__container {
    height: 100%;
    position: relative;
}

.grid__container {
    margin: 0 auto;
    max-width: 956px;
    width: 100%;
}

.grid__line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--grid-line);
}

.grid__line:first-child {
    left: 0;
}

.grid__line:nth-child(2) {
    left: 25%;
}

.grid__line:nth-child(3) {
    left: 50%;
}

.grid__line:nth-child(4) {
    left: 75%;
}

.grid__line:last-child {
    right: 0;
}