#hamburger {
    position: fixed;
    z-index: 99999;
    width: 30px;
    height: 30px;
    right: 30px;
    top: 50px;
}

#hamburger .line {
    height: 2px;
    background-color: #201E1E;
    position: absolute;
}

.l-1 {
    width: 30px;
}

.l-2 {
    top: 10px;
    width: 20px;
    right: 0;
}