.hamburger {
    position: fixed;
    z-index: 9999;
    width: 30px;
    height: 30px;
    right: 30px;
    top: 50px;
}

.hamburger--closed {
    height: 30px;
    background-color: var(--white);
}

.hamburger .line {
    height: 2px;
    background-color: var(--header);
    position: absolute;
}

.l-1 {
    width: 30px;
}

.l-2 {
    top: 10px;
    width: 20px;
    right: 0;
}