.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--header);
}

.menu {
    display: flex;
}

.menu__title, .menu__menu {
    color: var(--white);
}

.menu__section {
    background-color: var(--header);
    border-right: 1px solid var(--button);
    width: 16.7%;
    height: 100vh;
}

.menu__section:last-child {
    border-right: none;
}

.menu__section:last-child:hover {
    background-color: var(--header);
}

.menu__section:hover {
    background-color: #272525;
}

.menu__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.menu__menu {
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-family: 'Didot', sans-serif;
    font-size: 80px;
    letter-spacing: 3rem;
    margin-bottom: 30px;
    line-height: normal;
}

.menu__title {
    position: absolute;
    margin-bottom: 120px;
    z-index: 2;
}

.menu__title::before {
    display: none;
    content: "";
    position: absolute;
    width: 113%;
    height: 24px;
    bottom: 0px;
    left: -8px;
    background-color: var(--button);
    z-index: -1;
}

.menu__section:hover .menu__title::before {
    display: block;
}

.menu__section:hover .menu__text {
    display: block;
}

.menu__text {
    display: none;
    color: var(--white);
    margin-bottom: 18px;
    text-decoration: none;
    font-family: 'DIN Alternate', sans-serif;
}

.menu__text-container {
    position: absolute;
    bottom: 0;
    height: 50vh;
    text-align: center;
}