* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
}

:root {
  --primary: #0061F3;
  --secondary: #F39200;
  --header: #201E1E;
  --text: #808080;
  --white: #FBFBFB;
  --grid-line: #EEEEEE;
  --button: #555555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Didot', sans-serif;
  color: var(--header);
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

p {
  font-family: 'DIN Alternate', sans-serif;
  letter-spacing: .5px;
  line-height: 1.5rem;
  font-size: 16px;
  color: var(--text);
}

#cursor {
  width: .8em;
  height: .8rem;
  background-color: var(--header);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: 10000;
}

.nd {
  position: relative;
  top: 50px;
  width: 10%;
  margin: 0 auto;
  background-color: transparent;
}

.nd p {
  font-family: 'Didot', sans-serif;
  color: var(--header);
}

.home-banner {
  height: calc(100vh - 100px);
  position: relative;
  padding: 100px 0 0 0;
}

.home-banner__img img {
  background-size: cover;
  filter: grayscale();
  height: 590px;
  top: 200px;
}

.home-banner__text {
  position: absolute;
  right: 4%;
  top: 29%;
  max-width: 46%;
}

.w-full {
  width: 100%;
}

#discover {
  margin-top: 30px;
  text-align: center;
  color: var(--header);
}

.container-home {
  width: 100%;
  margin: 0 auto;
}

.container-text {
  position: relative;
  width: 100%;
  max-width: 536px;
  padding-bottom: 80px;
} 

.container-text--left {
  left: 16.8%;
}

.container-text--middle {
  left: 50%;
}

.container-text--right {
  left: calc(66.55% - 85px);
}

.container-text h4 {
  margin-bottom: 30px;
  color: var(--text);
}

.container-text--long {
  max-width: 800px;
}

.mb-80 {
  margin-bottom: 80px;
}

#services-banner {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: var(--header);
  margin: 80px 0;
}

#services-banner a {
  text-decoration: none;
}

#services-banner h3 {
  color: var(--white);
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}

#realisation {
  margin: 60px 0;
}

#realisation h2::before {
  display: inline-block;
  content: "";
  border-top: .1rem solid black;
  width: 70px;
  margin-right: 15px;
  transform: translateY(-.8rem);
}

.header-top {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 80px 0;
}

.service {
  position: relative;
  width: 100%;
  height: 530px;
  margin-bottom: 700px;
}

.service__img {
  position: absolute;
  right: 100px;
  top: 0;
}

.service__img--right {
  position: absolute;
  left: 200px;
  top: 0;
}

.service__img img, .service__img--right img {
  width: 860px;
  height: 530px;
}

.service__info {
  position: absolute;
  left: 200px;
  top: 50px;
  width: 460px;
  height: 350px;
  background-color: var(--primary);
  padding: 40px 60px;
  z-index: 10;
}

.service__info--black {
  background-color: var(--header);
}

.service__info--right {
  position: absolute;
  right: 100px;
  top: 50px;
  width: 460px;
  height: 350px;
  background-color: var(--secondary);
  padding: 40px 60px;
  z-index: 10;
}

.service__info h3, .service__info--right h3 {
  color: var(--white);
}

.service__description {
  position: absolute;
  top: 350px;
  left: 10%;
  background-color: rgba(0, 97, 243, .1);
  width: 1100px;
  height: 750px;
  z-index: -1;
  padding: 200px 98px 20px 98px;
}

.service__description--orange {
  background-color: rgba(243, 146, 0, .1);
}

.service__description--black {
  background-color: rgba(32, 30, 30, .1);
}

.service__description-content {
  width: 50%;
  margin-bottom: 20px;
}

.service__description-content--right {
  position: relative;
  left: 52.9%;
} 

.projet-banner {
  position: relative;
  background-color: rgba(32, 30, 30, .5);
  width: 100%;
  height: 400px;
  margin-top: 100px;
}

.projet-banner img {
  position: relative;
  width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: -1;
}

.projet-banner h2 {
  position: absolute;
  left: 38%;
  top: 44%;
  color: var(--white);
} 

.projet-information {
  display: flex;
  width: 100%;
  margin-top: 80px;
  padding: 0 16.7%;
}

.projet-information__content {
  width: 240px;
}  

.projet-information__content h3 {
  margin-bottom: 10px;
}

.projet-information__content ul li {
  list-style-type: none;
  font-family: 'DIN Alternate', sans-serif;
  color: var(--text);
  margin-bottom: 5px;
} 

.projet-information__content .fas {
  color: var(--text);
} 

.projet-concept {
  display: flex;
  width: 100%;
  margin: 140px 0;
} 

.projet-concept:nth-last-child(2) {
  margin-bottom: 0;
}

.projet-concept--center {
  justify-content: center;
}

.projet-concept__mac-mockup {
  width: 500px;
  object-fit: cover;
  margin-left: 150px;
}

.projet-concept__iphone-mockup {
  width: 450px;
  object-fit: cover;
  margin-left: 300px;
}

.projet-concept__text {
  position: relative;
  left: 4.9%;
  margin-top: 30px;
  max-width: 536px;
}

.projet-concept__text--left {
  left: 16.8%;
  margin-top: 150px;
}

.projet-concept__img {
  width: 460px;
  object-fit: cover;
  box-shadow: 50px 50px 30px rgba(0, 0, 0, .15);
}

.projet-concept__img--left {
  position: relative;
  height: 510px;
  left: 50px;
  z-index: 2;
}

.projet-concept__img--right {
  position: relative;
  height: 460px;
  right: 50px;
  top: 150px;
  z-index: 1;
}

.projet-change {
  display: flex;
  width: calc(100% - 200px);
  margin: 0 50px 50px 100px;
  justify-content: space-between;
} 

.projet-change a {
  text-decoration: none;
}

.projet-change__prev p, .projet-change__next p {
  color: var(--header);
}

.apropos {
  display: flex;
  justify-content: center;
  padding: 0 60px;
}

.apropos img {
  object-fit: cover;
  width: 260px;
  height: 360px;
  margin: 0 100px;
}

.working-method {
  width: calc(100% - 33.6%);
  margin: 0 16.8%;
}

.working-method__box {
  position: relative;
  width: 100%;
  max-width: 676px;
  padding-bottom: 80px;
}

.working-method__box:nth-child(2n) {
  left: 50%;
}

.working-method__title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.working-method__title .fas, .working-method__title .far {
  margin-left: 15px;
  color: var(--secondary);
} 

.working-method__content {
  display: flex;
  align-items: center;
}

.working-method__number {
  font-family: 'Didot', sans-serif;
  font-size: 96px;
  line-height: normal;
  color: var(--grid-line);
  margin-left: 40px;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 33.6);
  margin: 0 16.8%;
}

.contact-form {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.contact-form input, .contact-form textarea {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid var(--header);
  font-size: 16px;
  font-family: 'DIN Alternate', sans-serif;
  background-color: var(--white);
  margin-bottom: 30px;
}

.contact-form input {  
  line-height: 25px;
}

.contact-form textarea {  
  line-height: normal;
  height: 150px;
  resize: none;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
} 

.contact-text {
  position: relative;
  left: -77px;
  max-width: 400px;
}

.contact-text p {
  margin-bottom: 20px;
} 

.contact-info {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 31.2%);
  margin: 30px 16.8% 80px 16.8%;
}

.contact-info__content {
  position: relative;
}

.contact-info__content:first-child, .contact-info__content:nth-child(2) {
  left: 0;
}

.contact-info__content:last-child {
  left: 6.1%;
}

.contact-info__content .fab {
  margin-right: 20px;
}

.contact-info__content p {
  margin-bottom: 5px;
}